*
  box-sizing: border-box

html, body
  height: 100%

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  color: #335533
  margin: 1em
  background: #3cc

h1
  display: inline-block
  background-color: #eee
  color: rgb(161,55,161)

h2
  background-color: rgb(161,55,161)
  color: #ccc

form
  margin-top: 20px
